.movies-table{
    height: calc(100vh - 270px);
    border:2.5px solid lightgray;
    background-color: rgb(102, 8, 60);
    color: white;
    width: calc(100vw - 300px);
    transition: all 0.5s ease;
    opacity: 0.8;
}
.tablehead {
    display: flex;
    border-bottom: 1px solid lightgrey;
    height: calc(100%/6);
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}
.rowcol{
    
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.paginations{
    margin-top: 28px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height:30px;
}
.left-arrow{
    width: 30px;
    height: 30px;
    margin-right:1.1vw;
    background: transparent;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.left-arrow:hover{
    cursor: pointer;
    width: 33px;
    height: 33px;
}
.right-arrow:hover{
    cursor: pointer;
    width: 33px;
    height: 33px;
}
.right-arrow{
    width: 30px;
    height: 30px;
    margin-left:0.5vw;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 50%;
    transition: all 0.5s ease;
}