.image{
    width: 21px;
    height:19px;
    margin: 4px;
    background: transparent;
}
.image-star{
    width: 26px;
    height:27px;
    margin: 4px;
}

.imagee{
    display: flex;
    align-items: center;
    justify-content: center;
}