.sidebar {
    padding-top: 57px;
    height: calc(100vh - 58px);
    width: 200px;
    /* background-color: black;
    color: white; */
    background-color: rgb(102, 8, 60);
    position: absolute;
    top: 0%;
    left: 0%;
    box-shadow: rgba(0, 9, 19, 0.4) 0px 0px 0px 2px, rgba(8, 17, 27, 0.65) 0px 4px 6px -1px, rgba(77, 3, 3, 0.08) 0px 1px 0px inset;
    color: white;
    font-family: lato;
}