@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.pagination {
    border: 1px solid grey;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.pagination:hover{
    cursor: pointer;
    background-color: #f31785;
}
.selected{
    background-color: #f31785;
}